* {
    margin: 0;
    padding: 0;
}
body {
    width:100%;
    height:600vh;
    
}
.navbar-conatiner {
    display: grid;
    grid-template-columns: 10em auto;
}
[src="Images/Wiki-black.png"] {
    width: 5rem;
    display: block;
}
.left-navbar {
    padding: 1rem;
}
.right-navbar {
    margin-top: 1em;
}

/* CSS How to ? */

    

/* END */
.search-form {
    margin-top: -2.3em;
    margin-right: 1rem;
    z-index: 1000;
}
.nav-link:focus {
    text-decoration: underline;
}   
.nav-tabs {
    background-image: linear-gradient(white, rgb(216, 224, 226));
    border-bottom: 1px solid red;
}
.nav-tabs, .nav-item {
    background-image: url(images/tab-separator.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.tab-content {
    background-color: #fff;
}
.tab-pane {
    border: 1px solid lightblue;
    border-right: none;
    margin-top: -1px;
    height: 800vh;
}
.footer {
    margin-left: 10em;
    padding: 1rem;
}


/* W3School Navbar */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab .tab-link {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab .tab-link:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab .tab-link.active {
    background-color: #ccc;
  }